html {
  font-size: 16px;
}

body {
  background: #e8347d;
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#hexa {
  font-size: 2.1875rem;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  margin: 15px;
}

button {
  cursor: pointer;
  background: none;
  font-size: 0.9375rem;
  color: #ffffff;
  border: 3px solid #fff;
  border-radius: 25px;
  padding: 10px 15px;
  outline: none;
}
